HF_TOKEN=your_huggingface_token_here
TMDB_API_KEY=your_tmdb_api_key_here
DEV_SERVER_IP=127.0.0.1
DEV_SERVER_USER=your_username
DEV_SERVER_PASS=your_password
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id_here
CPS_MEITUAN_KEY=your_meituan_key_here
CPS_ELEME_KEY=your_eleme_key_here
MT_TOKEN=your_mt_token_here

GITHUB_PAT=your_github_pat_here
GITHUB_ENDPOINT=your_github_endpoint_here
